.details-card {
    /* width: 50%;  */
    margin: 15px auto;
    /* border-radius: 15px; */
}

.buttons-details {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#edit-icon:hover {
    transform: scale(1.4);
}