.welcome-div {
    background-color: black;
    height: 600px;
}

#welcome-card {
    margin: 5% auto;
    background-color: black;
    height: 500px;
}

.welcome-image {
    margin: 15px auto;
}

.welcome-text {
    color: ghostwhite;
    font-family: Bangla MN;
    margin: 10px auto;
    padding: 10px
}

.enter {
    color: ghostwhite;
}

.enter:hover {
    transform: scale(1.4);
    color: red;
}