.App {
  text-align: center;
}

.text-with-shadow {
  font-weight: bold;
  font-family: Proxima Nova;
  font-size: 50px;
  /* color: ghostwhite; */
  background-color: red;
  padding: 1%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Adjust the values as needed:
     - 2px: Horizontal offset
     - 2px: Vertical offset
     - 4px: Blur radius
     - rgba(0, 0, 0, 0.5): Shadow color and opacity */
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: rgba(0, 0, 0, 0.839);
}