.movie-form-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(177, 177, 229, 0.745);
  border-radius: 10px;
}

.form-buttons {
  margin-top: 20px;
}