.movie-form-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(177, 177, 229);
  border-radius: 15px;
}

.form-buttons {
  margin-top: 15px;
}
