#navbar {
  background-color: rgba(49, 6, 6, 0.326);
}

#link:hover {
  color: whitesmoke;
  transform: scale(1.3);
}

#link {
  color: whitesmoke;
}

.navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  .navbar {
    position: relative; /* Change to relative positioning for smaller screens */
    bottom: auto;
    width: auto; /* Allow navbar to expand to content width */
  }
}
